config/environment-variables/.env.*.dev*
config/environment-variables/.env.*.prod*

*/dist
**/node_modules
**/package-lock.json
*/.env
*/.env.local
.vs
.vscode/c_cpp_properties.json

**/prisma/schemas

*.zip

# macOS
app/.DS_Store

dbml