@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --hover-bg: 220 13% 91%; /* Light mode hover background */
    --hover-fg: 240 4.8% 20%; /* Light mode hover foreground */
    --muted-foreground: 240 3.8% 46.1%
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --topbar-background: 240 4.8% 95%; /* Light mode */
    --topbar-foreground: 240 4.8% 20%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --hover-bg: 240 3.7% 15.9%; /* Dark mode hover background */
    --hover-fg: 240 4.8% 95.9%; /* Dark mode hover foreground */
    --muted-foreground: 240 5% 64.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --topbar-background: 240 3.7% 15%; /* Dark mode */
    --topbar-foreground: 240 4.8% 95.9%;
  }
}
