name: iot

services:
  backend:
    container_name: backend
    build:
      context: ../backend/
      dockerfile: Dockerfile.production
    expose:
      - "3001"
    depends_on:
      - db
    env_file:
      - ../config/environment-variables/.env.backend.prod
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3001/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - internal

  db:
    container_name: db
    image: postgres:latest
    ports:
      - 5432:5432
    env_file:
      - ../config/environment-variables/.env.db.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal
    
  reverse-proxy:
    container_name: reverse-proxy
    build:
      context: ..
      dockerfile: docker/nginx.Dockerfile
    ports:
      - 80:80
    depends_on:
      - backend
    # configs:
    #   - source: nginx_config
    #     target: /etc/nginx/nginx.conf
    volumes:
      - ../config/nginx.conf:/etc/nginx/nginx.conf
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - internal
      - public

networks:
  public:
    driver: bridge
  internal:
    name: internal
    internal: true

volumes:
  mongo1_data: {}
  mongo1_config: {}
  postgres_data: {}

# configs:
#   nginx_config:
#     file: ../config/nginx.conf
