name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Generate .env.backend file
      - name: Generate .env.backend file
        run: |
          mkdir -p ./config/environment-variables
          echo "# TimeZone" > ./config/environment-variables/.env.backend.prod
          echo "TZ=${{ secrets.TZ }}" >> ./config/environment-variables/.env.backend.prod
          echo "NODE_ENV=${{ secrets.NODE_ENV }}" >> ./config/environment-variables/.env.backend.prod
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> ./config/environment-variables/.env.backend.prod
          echo "ACCESS_TOKEN_SECRET=${{ secrets.ACCESS_TOKEN_SECRET }}" >> ./config/environment-variables/.env.backend.prod
          echo "REFRESH_TOKEN_SECRET=${{ secrets.REFRESH_TOKEN_SECRET }}" >> ./config/environment-variables/.env.backend.prod

      # Step 3: Generate .env.db file
      - name: Generate .env.db file
        run: |
          echo "# POSTGRES" > ./config/environment-variables/.env.db.prod
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> ./config/environment-variables/.env.db.prod
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> ./config/environment-variables/.env.db.prod
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> ./config/environment-variables/.env.db.prod

      # Step 4: Generate .env.frontend file
      - name: Generate .env.frontend file
        run: |
          echo "# FRONTEND" > ./config/environment-variables/.env.frontend.prod
          echo "CLIENT_API_URL=${{ secrets.CLIENT_API_URL }}" >> ./config/environment-variables/.env.frontend.prod
          echo "SERVER_API_URL=${{ secrets.SERVER_API_URL }}" >> ./config/environment-variables/.env.frontend.prod
          echo "NODE_ENV=${{ secrets.NODE_ENV }}" >> ./config/environment-variables/.env.frontend.prod

      # Step 5: Run Docker Compose
      - name: Run Docker Compose
        run: |
          docker compose -f ./docker/docker-compose.prod.yml up --build --force-recreate
          docker image prune -f
