name: Docker Image CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Set up Docker permissions
        run: |
          sudo usermod -aG docker $USER
          sudo systemctl restart docker

      - name: Check Docker version
        run: docker --version

      - name: Fix permissions
        run: sudo chmod -R 777 /home/magn9814/_work/HF4-BigData/HF4-BigData


      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Generate .env.backend file
      - name: Generate .env.backend file
        run: |
          mkdir -p ./config/environment-variables
          echo "# TimeZone" > ./config/environment-variables/.env.backend.prod
          echo "TZ=${{ secrets.TZ }}" >> ./config/environment-variables/.env.backend.prod
          echo "NODE_ENV=${{ secrets.NODE_ENV }}" >> ./config/environment-variables/.env.backend.prod
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> ./config/environment-variables/.env.backend.prod
          echo "ACCESS_TOKEN_SECRET=${{ secrets.ACCESS_TOKEN_SECRET }}" >> ./config/environment-variables/.env.backend.prod
          echo "MQTT_BROKER=${{ secrets.MQTT_BROKER }}" >> ./config/environment-variables/.env.backend.prod
          echo "MQTT_USERNAME=${{ secrets.MQTT_ADMIN_USERNAME }}" >> ./config/environment-variables/.env.backend.prod
          echo "MQTT_PASSWORD=${{ secrets.MQTT_ADMIN_PASSWORD }}" >> ./config/environment-variables/.env.backend.prod
          echo "MQTT_TOPIC={{ $MQTT_TOPIC }}" >> ./config/environment-variables/.env.backend.prod

      # Step 3: Generate .env.db file
      - name: Generate .env.db file
        run: |
          echo "# POSTGRES" > ./config/environment-variables/.env.db.prod
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> ./config/environment-variables/.env.db.prod
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> ./config/environment-variables/.env.db.prod
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> ./config/environment-variables/.env.db.prod

      # Step 4: Generate .env.frontend file
      - name: Generate .env.frontend file
        run: |
          echo "# FRONTEND" > ./config/environment-variables/.env.frontend.prod
          echo "CLIENT_API_URL=${{ secrets.CLIENT_API_URL }}" >> ./config/environment-variables/.env.frontend.prod
          echo "SERVER_API_URL=${{ secrets.SERVER_API_URL }}" >> ./config/environment-variables/.env.frontend.prod
          echo "NODE_ENV=${{ secrets.NODE_ENV }}" >> ./config/environment-variables/.env.frontend.prod

      # Step 5: Generate .env.cloudflare file
      - name: Generate .env.cloudflare file
        run: |
          echo "# CLOUDFLARE" > ./config/environment-variables/.env.cloudflare.prod
          echo "TUNNEL_TOKEN=${{ secrets.TUNNEL_TOKEN }}" >> ./config/environment-variables/.env.cloudflare.prod

      # Step 6: Generate .env.grafana file
      - name: Generate .env.grafana file
        run: |
          echo "# GRAFANA" > ./config/environment-variables/.env.grafana.prod
          echo "NODE_ENV=${{ secrets.NODE_ENV }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_SECURITY_ADMIN_USER=${{ secrets.GF_SECURITY_ADMIN_USER }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_SECURITY_ADMIN_PASSWORD=${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_SECURITY_SECRET_KEY=${{ secrets.GF_SECURITY_SECRET_KEY }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_SECURITY_COOKIE_SECURE=${{ secrets.GF_SECURITY_COOKIE_SECURE }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_ENCRYPTION_KEY_CACHING.ENCRYPTION=${{ secrets.GF_ENCRYPTION_KEY_CACHING_ENCRYPTION }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_SERVER_ROOT_URL=${{ secrets.GF_SERVER_ROOT_URL }}" >> ./config/environment-variables/.env.grafana.prod
          echo "GF_SERVER_SERVE_FROM_SUB_PATH=${{ secrets.GF_SERVER_SERVE_FROM_SUB_PATH }}" >> ./config/environment-variables/.env.grafana.prod
          echo "DATASOURCES_POSTGRES_DB=${{ secrets.DATASOURCES_POSTGRES_DB }}" >> ./config/environment-variables/.env.grafana.prod
          echo "DATASOURCES_POSTGRES_USER=${{ secrets.DATASOURCES_POSTGRES_USER }}" >> ./config/environment-variables/.env.grafana.prod
          echo "DATASOURCES_POSTGRES_PASSWORD=${{ secrets.DATASOURCES_POSTGRES_PASSWORD }}" >> ./config/environment-variables/.env.grafana.prod

      # Step 7: Generate .env.mqtt file
      - name: Generate .env.mqtt file
        run: |
          echo "MQTT_ADMIN_USERNAME=${{ secrets.MQTT_ADMIN_USERNAME }}" >> ./config/environment-variables/.env.mqtt.prod
          echo "MQTT_ADMIN_PASSWORD=${{ secrets.MQTT_ADMIN_PASSWORD }}" >> ./config/environment-variables/.env.mqtt.prod

      # Step 8: Run Docker Compose
      - name: Run Docker Compose
        run: |
          sudo docker compose -f ./docker/docker-compose.prod.yml up --build --force-recreate -d
          sudo docker image prune -f
